body{
    background-color:#ffb8db;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size:13px;
}

h1{
    text-align:center;
    color:deeppink;
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
#button1{
    background-color:#ff1493;
    position:absolute;
    left:10vw;
    top:8.5vw;
     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
  color:white;
  border-radius:3px;
  border:3px solid #ba0063;
}
#button2{
    background-color:cyan;
    position:absolute;
    left:50vw;
    top:50vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
  border-radius:5px;
}
#button3{
    background-color:chartreuse;
    position:absolute;
    left:1vw;
    top:15vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
  border: 4px dashed #0011ff;
}
#button4{
    background-color:aquamarine;
    position:absolute;
    left:70vw;
    top:20vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
}
#button5{
    background-color:#ff7f50;
    position:absolute;
    left:30vw;
    top:27vw;
     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
   color:white;
   border:2px dotted #cc3700
}
#button6{
    background-color:olive;
    position:absolute;
    left:5vw;
    top:54vw;
     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
   color:white;
}
#button7{
    background-color:tomato;
    position:absolute;
    left:85vw;
    top:45vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
   color:white;
   border-radius:12px;
   border-style:solid;
   border-color:aqua purple blue greenyellow;
}
#button8{
    background-color:blueviolet;
    position:absolute;
    left:80vw;
    top:2vw;
     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
  color:white;
  border-radius:9px;
  border: 6px dotted #ff0000;
}
#button9{
    background-color:thistle;
    position:absolute;
    left:35vw;
    top:20vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
}
#button10{
    background-color:darkgrey;
    position:absolute;
    left:65vw;
    top:35vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
   color:white;
}
#button11{
    background-color:crimson;
    position:absolute;
    left:60vw;
    top:40vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
   color:white;
}
#button12{
    background-color:gold;
    position:absolute;
    left:75vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
}
#button13{
    background-color:springgreen;
    position:absolute;
    left:25vw;
    top:45vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
}
#button14{
    background-color:blueviolet;
    position:absolute;
    left:92.5vw;
    top:30vw;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:13px;
  color:white;
}