        .hidden {
            display: none;
        }
        .container{
            position:relative;
            width:100vw;
            height:80vh;
        }
        #button2{
            position:absolute;
            left:10vw;
            top:15vw;
        }
        #button3{
            position:absolute;
            left:45vw;
            top:30vw;
        }
        #button4{
            position:absolute;
            left:50vw;
            top:50vw;
        }
        #textArea5{
            position:absolute;
            left:10vw;
            top:70vw;
            width:17vw;
        }
        @media only screen and (max-width:600px){
            .container{
                width:100%;
                height:auto;
                display:flex;
                flex-direction:column;
                align-items:center;
            }
            #button2,
            #button3,
            #button4,
            #textArea5{
                position:static;
                margin-top:10px;
            }
            #button1{
                margin-left:-170px;
            }
            #button2{
                margin-left:70px;
            }
            #button3{
                margin-left:-280px;
            }
            #button4{
                margin-left:-40px;
            }
            #textArea5{
                margin-left:330px;
            }
        }